<section>
        <i type="button" class=" bi bi-circle-fill p-3 fs-2" (click)="enviarCor('danger')"[ngStyle]="{'color':'red'}"></i>
            <i type="button" class="bi bi-circle-fill p-3 fs-2" (click)="enviarCor('primary')"[ngStyle]="{'color':'blue'}"></i>
                  <i type="button" class="bi bi-circle-fill p-3 fs-2" (click)="enviarCor('warning')"[ngStyle]="{'color':'yellow'}"></i>
                     <i type="button" class="bi bi-circle-fill p-3 fs-2" (click)="enviarCor('success')"[ngStyle]="{'color':'green'}"></i>
</section>